{% extends 'base.html' %}


{% block header %}
<div class="col-lg-12" style="box-shadow: 0 1px rgba(0,0,0,0.5); border
radius: 12px; background-color: #d8c338; margin-top: 1px; padding: 30px; align-items: center">
	<h1 style="margin-top: 0px;">ABOUT</h1>
	<p style="margin-top: 20px; font
	size: 25px;">
		Aplikasi web ini berguna untuk mentranslate Huruf Braille ke Huruf Alfabet.
		Diharapkan aplikasi ini dapat membantu orang-orang yang ingin mempelajari Huruf Braille dari dasar. </p>
</div>
{% endblock header %}
