{% extends 'base.html' %}
{% load static %}

{% block header %}
<h1 class="display-4" style=" margin-top: 150px; font-family:
 'Courier New';font-weight: bolder; font-size: 35px;">{{subjudul}}</h1>
<h1 class="display-4" style=" font-family: 'Courier New';font-weight: bolder; font-size: 35px;" >{{judul}}</h1>
<!-- <a href="classification/"><button type="button" class="btn btn-success" style="margin-right: 120px;">Get Started!</button></a> -->
{% endblock header %}


{% block content %}
   <body>
        <p style=" font-family: 'Monaco'; font-weight:'bolder'; font-size: 35px; ">Welcome To</p>
        <h1 style=" font-family: 'Copperplate Gothic';">Braille Classification</h1>

    </body>
{% endblock content %}