{% extends 'base.html' %}  
{% block header %}
<div class="col-lg-12" style="box-shadow: 0 3px rgba(0,0,0,0.5); border
radius: 12px; background-color: #0b483b; margin
top: 70px; padding: 30px;">
	<h1 style="margin-top:20px; text
	align: justify;">Informasi Terkait Tentang Kopi</h1>
		<h3 style="text
	align: justify;">Berikut Beberapa Referensi Terkait Tentang Kopi :</h3>
			<div class="col-md-8" >
				<ol>
					<li style="text-align: justify;" >
						<a href="https://books.google.co.id/books?hl=id&lr=&id=WUneAg AAQBAJ&oi=fnd&pg=PR1&dq=kopi+arabika+gayo&ots=SWKl2DGDmn&sig=IlzaAPbmUS6U7LWouTuFiP8SHQ&redir_esc=y#v=onepage&q&f=false"
						   style="color: aliceblue;">PANDUAN BUDIDAYA DAN PENGOLAHAN KOPI ARABIKA GAYO
						</a>
					</li>
					<li style="text-align: justify;">
						<a href="http://download.garuda.ristekdikti.go.id/article.php ?article=686164&val=9411&title=PERKEMBANGAN%20PENGOLAHAN%20KOPI%20ARABIKA%20G AYO%20MULAI%20DARI%20PANEN%20HINGGA%20PASCA%20PANEN%20DI%20KAMPUNG%20SIMPANG% 20TERITIT%20TAHUN%2020102017" style="color: aliceblue;">PERKEMBANGAN PENGOLAHAN KOPI ARABIKA GAYO MUL AI DARI PANEN HINGGA PASCA PANEN
 
91  
                </a>
					</li>
					<li style="text-align: justify;">
						<a href="http://caswellscoffee.com/cara-memanen-buahkopi/" style="color: aliceblue;">CARA MEMANEN BUAH KOPI</a>
					</li>
					<li style="text-align: justify;">
						<a href="http://cybex.pertanian.go.id/mobile/artikel/90787/P ANEN-DAN-PASCAPANENKOPI/" style="color: aliceblue;">PANEN DAN PASCAPANEN KOPI</a>
					</li>
					<li style="text-align: justify;">
						<a href="http://balittri.litbang.pertanian.go.id/index.php/pu blikasi/category/100-sirinov-vol-5-no-1-2017?download=476%3Asirinov-vol-5-no12017 "style="color: aliceblue;">PENGARUH TINGKAT KEMATANGAN DAN PENYIMPANAN T ERHADAP VIABILITAS BENIH KOPI ARABIKA</a>             </li>             <li style="text-align: justify;">                 <a href="https://kopitem.com/tentangkopi/" style="color: aliceblue;">TENTANG KOPI</a>             </li>             <li style="text-align: justify;">                 <a href="http://www.iontec-europe.com/2018/04/19/the-masteryof-coffee-processing-for-uniqueingredients/" style="color: aliceblue;">TINGKAT KEMATANGAN KOPI</a>
				</li>
				</ol>
			</div>
</div>
{% endblock header %}